<!-- Modal Backdrop -->
<div
  *ngIf="showModal"
  class="fixed inset-0 bg-black/50 z-100 flex items-center justify-center"
>
  <!-- Modal Container -->
  <div class="bg-white rounded-lg shadow-lg w-full max-w-4xl mx-auto z-50">
    <!-- Modal Header -->
    <div class="flex justify-between items-center px-6 py-4 border-b">
      <h4 class="text-xl font-semibold text-gray-800">Add Payment</h4>
      <button
        type="button"
        class="text-gray-500 hover:text-red-600 text-xl"
        (click)="closeModal()"
      >
        &times;
      </button>
    </div>

    <!-- Modal Body -->
    <div class="px-6 py-4">
      <form
        [formGroup]="valForm"
        (ngSubmit)="submitForm(valForm.value)"
        class="space-y-4"
      >
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div>
            <label class="block text-sm font-medium mb-1 text-gray-700"
              >Patient
              <i class="fa-solid fa-asterisk fa-2xs" style="color: #ff0000"></i>
            </label>
            <p-select
              [options]="patient_list"
              formControlName="patient"
              [checkmark]="true"
              optionLabel="label"
              optionValue="value"
              [showClear]="true"
              placeholder="Select a patient"
              class="w-full"
              [filter]="true"
              (ngModelChange)="onPatientCHange()"
            />
          </div>

          <div>
            <label class="block text-sm font-medium mb-1 text-gray-700"
              >Name
            </label>
            <input
              type="text"
              formControlName="p_name"
              class="w-full bg-gray-200 text-gray-600 px-3 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-orange-400"
            />
          </div>
          <div>
            <label class="block text-sm font-medium mb-1 text-gray-700"
              >Contact No
            </label>
            <input
              type="text"
              formControlName="p_no"
              class="w-full px-3 py-2 border bg-gray-200 text-gray-600 border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-orange-400"
            />
          </div>
          <div>
            <label class="block text-sm font-medium mb-1 text-gray-700"
              >NIC
            </label>
            <input
              type="text"
              formControlName="p_nic"
              class="w-full px-3 py-2 border bg-gray-200 text-gray-600 border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-orange-400"
            />
          </div>

          <div>
            <label class="block text-sm font-medium mb-1 text-gray-700"
              >Amount
              <i class="fa-solid fa-asterisk fa-2xs" style="color: #ff0000"></i>
            </label>
            <input
              type="number"
              formControlName="amount"
              class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-orange-400"
            />

            <span
              class="text-orange-500 text-xs"
              *ngIf="
                valForm.controls['amount'].hasError('invalidDecimalFormat')
              "
              >Accept only upto two decimal points</span
            >
          </div>

          <div>
            <label class="block text-sm font-medium mb-1 text-gray-700"
              >Date
              <i class="fa-solid fa-asterisk fa-2xs" style="color: #ff0000"></i>
            </label>
            <p-datepicker
              formControlName="date"
              class="w-full"
              [inputStyle]="{ width: '100%' }"
              dateFormat="yy.mm.dd"
            />
          </div>

          <div class="col-span-2">
            <label class="block text-sm font-medium mb-1 text-gray-700"
              >Invoice
              <i class="fa-solid fa-asterisk fa-2xs" style="color: #ff0000"></i>
            </label>
            <p-select
              [options]="inv_list"
              formControlName="inv"
              [checkmark]="true"
              optionLabel="label"
              optionValue="value"
              [showClear]="true"
              placeholder="Select a invoice"
              class="w-full"
              [filter]="true"
              (ngModelChange)="onInvChange()"
            >
              <ng-template let-item pTemplate="item">
                <div
                  [ngClass]="
                    item.value?.openbalance > 0
                      ? 'text-green-700'
                      : 'text-red-600'
                  "
                >
                  <span *ngIf="item.value == null" class="text-gray-700">
                    {{ item.label }}</span
                  >
                  <span *ngIf="item.value != null"> {{ item.label }}</span>
                </div>
              </ng-template></p-select
            >
          </div>

          <div
            *ngIf="inv"
            class="bg-orange-100 p-3 rounded-md border border-orange-300"
          >
            <div class="grid grid-cols-2 gap-2 text-sm">
              <div class="font-medium">Invoice:</div>
              <div class="text-right">{{ inv?.code }}</div>

              <div class="font-medium">Gross Total:</div>
              <div class="text-right">
                LKR {{ inv?.grosstotal | number : "0.2" }}
              </div>

              <div class="font-medium">Discount:</div>
              <div class="text-right">
                LKR {{ inv?.discount | number : "0.2" }}
              </div>

              <div class="font-medium">Grand Total:</div>
              <div class="text-right">
                LKR {{ inv?.grandtotal | number : "0.2" }}
              </div>

              <div class="font-medium">Paid Amount:</div>
              <div class="text-green-500 text-right">
                LKR {{ inv?.paidamount | number : "0.2" }}
              </div>

              <div class="font-medium">Open Balance:</div>
              <div class="text-red-500 text-right">
                LKR {{ inv?.openbalance | number : "0.2" }}
              </div>
            </div>
          </div>
        </div>
        <div>
          <label class="block text-sm font-medium mb-1 text-gray-700"
            >Notes</label
          >
          <textarea
            rows="1"
            class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-orange-400"
            pTextarea
            formControlName="note"
          ></textarea>
        </div>

        <div class="flex justify-end space-x-2 pt-4">
          <button
            type="button"
            class="px-4 py-2 border rounded text-gray-700 border-gray-400 hover:bg-gray-100"
            (click)="closeModal()"
          >
            Close
          </button>
          <button
            type="submit"
            class="px-5 py-2 rounded text-white"
            [ngClass]="
              valForm.valid
                ? 'bg-orange-500 hover:bg-orange-600'
                : 'bg-orange-400 cursor-not-allowed'
            "
            [disabled]="valForm.invalid"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
