<div class="card">
  <div class="rounded p-6 bg-surface-0 bg-gray-50 dark:bg-surface-900">
    <p-skeleton width="100%" height="150px" />
    <div class="flex gap-2 justify-start mt-4">
      <p-skeleton width="4rem" height="1rem" />
      <p-skeleton width="2rem" height="1rem" />
    </div>
    <div class="flex gap-2 justify-start mt-4">
      <p-skeleton width="5rem" height="1rem" />
      <p-skeleton width="2rem" height="1rem" />
    </div>
    <div class="flex gap-2 justify-around mt-4">
      <p-skeleton width="4rem" height="1rem" />
      <p-skeleton width="4rem" height="1rem" />
    </div>
  </div>
</div>
