<div class="flex w-full">
        <app-sidebar></app-sidebar>
    <div class="md:pl-[200px] lg:pl-[255px] p-5 w-full flex flex-col items-center">
        <div *ngIf="loading" class="w-full gap-2.5">
            <app-event-loader></app-event-loader>
            <app-event-loader></app-event-loader>
            <app-event-loader></app-event-loader>
            <app-event-loader></app-event-loader>
            <app-event-loader></app-event-loader>
            <app-event-loader></app-event-loader>
        </div>

        <div *ngIf="!loading" class="w-full gap-2.5">
            <div *ngFor="let item of events" class="flex flex-col space-y-1 gap-3">
                <div
                    class="w-full bg-white shadow-xl rounded-xl grid md:grid-cols-[3fr_1fr] items-center px-[14.6px] mt-2 py-2 gap-x-6 gap-y-3"
                >
                    <div class="grid grid-cols-[auto_1fr] gap-x-6 h-[83.82px]">
                        <div
                            class="w-[120px] h-full flex bg-[#001960] rounded-[8.76px] overflow-hidden"
                        >
                            <img
                                class="w-full h-full rounded-lg object-cover"
                                [src]="item?.flyerUrl"
                                alt=""
                            />
                        </div>
                        <div class="grid md:grid-cols-[3fr_0.75fr_1fr] gap-x-6 items-center line-clamp-2">
                            <h1 class="text-[17.52px] font-bold text-black line-clamp-2">
                                {{ item?.eventTitle }}
                            </h1>
                            <p class="text-[10.83px]">
                                {{ item?.date | date : "mediumDate" }}
                            </p>
                            <p class="text-[10.83px]">
                                {{ item?.venue }}
                            </p>
                        </div>
                    </div>
                    <div class="flex h-[25px] gap-1.5 justify-center md:justify-end items-center">
                        <button
                            class="bg-[#325EDA] hover:bg-blue-700 text-white text-[10.83px] rounded-[8px] px-2.5 py-1.5 cursor-pointer"
                            type="button">
                            View event
                        </button>
                        <button
                            class="bg-[#989898] hover:bg-[#888888] text-white text-[10.83px] rounded-[8px] px-2.5 py-1.5 cursor-pointer"
                            type="button">
                            Edit event
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div
            *ngIf="!events && !loading"
            class="w-full flex flex-col justify-center items-center"
        >
            <h1 class="mt-5 font-extrabold tracking-widest">Ooops !!!</h1>
            <h1 class="font-extrabold tracking-widest">NO EVENTS TO DISPLAY</h1>
        </div>
    </div>
</div>

