
<div class="flex flex-col items-center justify-center my-3 w-full">
    <!-- <h1 class="font-semibold text-[#325EDA] text-4xl">Ticket booking confirmed</h1>
    <p class="text-xs text-[#001960] w-[500px] text-center mt-2">
        Your payment was successful. Thank you for trusting us.
    </p> -->

    <div class="mt-6 flex items-center" *ngFor="let ticket of data?.ticketList; let i = index">
        <div [id]="'ticket-' + i" class="grid sm:flex">
            <div class="w-[228.5px] sm:w-[424px] sm:h-[159px] grid sm:flex shadow-2xl p-4 sm:p-2 rounded-xl justify-center sm:justify-start">
                <div class="w-[204px] h-full flex bg-[#001960] rounded-[8.76px] overflow-hidden">
                    <img
                        class="w-full h-full rounded-lg object-cover"
                        [src]="data?.event.coverUrl"
                        alt=""
                    />
                </div>
                <div class="ml-6 flex flex-col justify-center">
                    <p class="text-[10.83px]">
                        Event name
                    </p>
                    <p class="text-[10.83px] font-bold">
                        {{data?.event.eventTitle}}
                    </p>
                    <p class="text-[10.83px]">
                        Event date & time
                    </p>
                    <p class="text-[10.83px] font-bold">
                        {{ data?.event.date | date : "mediumDate" }} - {{ data?.event.time }}
                    </p>
                    <p class="text-[10.83px]">
                        Location
                    </p>
                    <p class="text-[10.83px] font-bold">
                        {{ data?.event.venue }}
                    </p>
                </div>
            </div>
            <div class="w-[228.5px] sm:h-[159px] grid sm:flex justify-center sm:justify-between shadow-2xl p-4 sm:p-2 gap-y-4 rounded-xl border-t-1 sm:border-t-0 sm:border-l-1 border-dashed">
                <div class="ml-2 grid grid-cols-2 sm:flex sm:flex-col justify-center">
                    <p class="text-[10.83px]">
                        Ticket type
                    </p>
                    <p class="text-[10.83px] font-bold">
                        {{ ticket.ticketName }}
                    </p>
                    <p class="text-[10.83px]">
                        Ticket no
                    </p>
                    <p class="text-[10.83px] font-bold">
                        {{ ticket.ticketNo }}
                    </p>
                    <p class="text-[10.83px]">
                        Price
                    </p>
                    <p class="text-[10.83px] font-bold">
                        {{ ticket.price }} LKR
                    </p>
                </div>
                <div class="aspect-square h-full flex bg-[#001960] rounded-[8.76px] overflow-hidden justify-center items-center">
                    <qrcode [qrdata]="ticket.ticketHash" [width]="150" [errorCorrectionLevel]="'M'"></qrcode>
                </div>
            </div>
        </div>
        <i class="fa-solid fa-download ml-8 scale-150 cursor-pointer" (click)="downloadTicket(ticket)"></i>
    </div>
    
</div>