<div class="bg-[#ff820d] h-16 flex items-center">
  <div
    class="sm:mx-5 mr-3 ml-14 lg:ml-5 sm:ml-16 w-full lg:px-0 z-10 m-auto flex items-center justify-between py-2"
  >
    <!-- lg:w-[1200px] -->
    <div class="flex items-center justify-center">
      <h1
        class="text-md text-white cursor-pointer tracking-wider"
        [routerLink]="['/home']"
        routerLinkActive="router-link-active"
      >
        SETHNETH
      </h1>

      <div class="flex items-center justify-center cursor-pointer">
        <i class="ml-10 text-white hover:text-gray-300 fa-regular fa-user"></i>
        <p class="text-white hover:text-gray-300 ml-3">
          {{ sysuser?.firstname }}
        </p>
      </div>
    </div>

    <a href="" title="Log Out" [routerLink]="'/login'">
      <i
        class="fa-solid text-white scale-110 fa-arrow-right-from-bracket cursor-pointer"
      ></i>
    </a>
  </div>
</div>
