<div class="min-h-screen bg-gray-50 p-6 md:p-8">
  <!-- Header -->
  <div class="mb-8">
    <h1 class="text-3xl font-bold text-gray-800">Dashboard</h1>

    <div class="mt-2 flex items-center text-gray-600">
      <span>
        Welcome back, {{ sysuser?.firstname }} {{ sysuser?.lastname }} !
      </span>

      <span class="mx-2">•</span>

      <span>
        <p-skeleton
          *ngIf="!data_loaded"
          width="100px"
          height="1rem"
        ></p-skeleton>

        <span *ngIf="data_loaded">
          Last login :
          {{ last_login?.timestamp | date: "medium" }}
        </span>
      </span>
    </div>
  </div>

  <!-- Stats Grid -->
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 mb-10">
    <!-- Text Blocks Card -->
    <div
      class="bg-white rounded-xl shadow-sm p-6 border border-gray-100 border-l-orange-500 border-l-5"
    >
      <div class="flex justify-between items-start">
        <div>
          <p class="text-gray-500 text-sm">Total Patients</p>
          <p class="text-3xl font-bold text-gray-800 mt-2">
            <span *ngIf="!data_loaded"
              ><i class="fa-solid fa-spinner fa-spin-pulse"></i
            ></span>
            <span *ngIf="data_loaded">
              {{ counts.active_patient_count }}
            </span>
          </p>
        </div>
        <div
          class="w-12 h-12 rounded-lg bg-orange-50 flex items-center justify-center"
        >
          <i class="fa-solid fa-eye-low-vision text-orange-500"></i>
        </div>
      </div>
      <div class="mt-4 pt-4 border-t border-gray-100">
        <div class="flex items-center text-sm">
          <i
            *ngIf="patient_trend?.trend === 'increase'"
            class="fa-solid fa-arrow-trend-up mr-2 text-green-600"
          ></i>

          <i
            *ngIf="patient_trend?.trend === 'decrease'"
            class="fa-solid fa-arrow-trend-down mr-2 text-red-600"
          ></i>

          <i
            *ngIf="patient_trend?.trend === 'nochange'"
            class="fa-solid fa-minus mr-2 text-cyan-600"
          ></i>

          <span
            [ngClass]="{
              'text-green-600': patient_trend?.trend === 'increase',
              'text-red-600': patient_trend?.trend === 'decrease',
              'text-cyan-600': patient_trend?.trend === 'nochange',
            }"
          >
            {{ patient_trend?.trend === "decrease" ? "-" : "+" }}
            {{ patient_trend?.percentage }}% from last month
          </span>
        </div>
      </div>
    </div>

    <!-- Active Snapfires Card -->
    <div
      class="bg-white rounded-xl shadow-sm p-6 border border-gray-100 border-l-purple-500 border-l-5"
    >
      <div class="flex justify-between items-start">
        <div>
          <p class="text-gray-500 text-sm">Active Orders</p>
          <p class="text-3xl font-bold text-gray-800 mt-2">
            <span *ngIf="!data_loaded">
              <i class="fa-solid fa-spinner fa-spin-pulse"></i>
            </span>
            <span *ngIf="data_loaded">
              {{ counts.active_order_count }}
            </span>
          </p>
        </div>
        <div
          class="w-12 h-12 rounded-lg bg-purple-50 flex items-center justify-center"
        >
          <i class="fa-solid text-purple-500 fa-glasses"></i>
        </div>
      </div>
      <div class="mt-4 pt-4 border-t border-gray-100">
        <div class="flex items-center text-sm">
          <i
            *ngIf="order_trend?.trend === 'increase'"
            class="fa-solid fa-arrow-trend-up mr-2 text-green-600"
          ></i>

          <i
            *ngIf="order_trend?.trend === 'decrease'"
            class="fa-solid fa-arrow-trend-down mr-2 text-red-600"
          ></i>

          <i
            *ngIf="order_trend?.trend === 'nochange'"
            class="fa-solid fa-minus mr-2 text-cyan-600"
          ></i>

          <span
            [ngClass]="{
              'text-green-600': order_trend?.trend === 'increase',
              'text-red-600': order_trend?.trend === 'decrease',
              'text-cyan-600': order_trend?.trend === 'nochange',
            }"
          >
            {{ order_trend?.trend === "decrease" ? "-" : "+" }}
            {{ order_trend?.percentage }}% from last month
          </span>
        </div>
      </div>
    </div>

    <!-- Inventory Value Card -->
    <div
      class="bg-white rounded-xl shadow-sm p-6 border border-gray-100 border-l-cyan-500 border-l-5"
    >
      <div class="flex justify-between items-start">
        <div>
          <p class="text-gray-500 text-sm">Consultations</p>
          <p class="text-3xl font-bold text-gray-800 mt-2">
            <span *ngIf="!data_loaded"
              ><i class="fa-solid fa-spinner fa-spin-pulse"></i
            ></span>
            <span *ngIf="data_loaded">
              {{ counts.active_invoice_count }}
            </span>
          </p>
        </div>
        <div
          class="w-12 h-12 rounded-lg bg-cyan-50 flex items-center justify-center"
        >
          <i class="fa-solid text-cyan-500 fa-stethoscope"></i>
        </div>
      </div>
      <div class="mt-4 pt-4 border-t border-gray-100">
        <div class="flex items-center text-sm">
          <i
            *ngIf="invoice_trend?.trend === 'increase'"
            class="fa-solid fa-arrow-trend-up mr-2 text-green-600"
          ></i>

          <i
            *ngIf="invoice_trend?.trend === 'decrease'"
            class="fa-solid fa-arrow-trend-down mr-2 text-red-600"
          ></i>

          <i
            *ngIf="invoice_trend?.trend === 'nochange'"
            class="fa-solid fa-minus mr-2 text-cyan-600"
          ></i>

          <span
            [ngClass]="{
              'text-green-600': invoice_trend?.trend === 'increase',
              'text-red-600': invoice_trend?.trend === 'decrease',
              'text-cyan-600': invoice_trend?.trend === 'nochange',
            }"
          >
            {{ invoice_trend?.trend === "decrease" ? "-" : "+" }}
            {{ invoice_trend?.percentage }}% from last month
          </span>
        </div>
      </div>
    </div>

    <div
      *hasPermission="[[12], sysuser]"
      class="bg-white rounded-xl shadow-sm p-6 border border-gray-100 border-l-pink-500 border-l-5 bg-"
    >
      <div class="flex justify-between items-start">
        <div>
          <p class="text-gray-500 text-sm">Available Stock Buying Value</p>
          <p class="text-xl font-bold text-gray-800 mt-2">
            <span *ngIf="!data_loaded"
              ><i class="fa-solid fa-spinner fa-spin-pulse"></i
            ></span>
            <span *ngIf="data_loaded">
              LKR {{ inventory_value.buying_value | number: "2.2" }}
            </span>
          </p>
        </div>
        <div
          class="w-12 h-12 rounded-lg bg-pink-50 flex items-center justify-center"
        >
          <i class="fa-solid text-pink-500 fa-dollar-sign"></i>
        </div>
      </div>
    </div>

    <div
      *hasPermission="[[12], sysuser]"
      class="bg-white rounded-xl shadow-sm p-6 border border-gray-100 border-l-green-500 border-l-5"
    >
      <div class="flex justify-between items-start">
        <div>
          <p class="text-gray-500 text-sm">Available Stock Selling Value</p>
          <p class="text-xl font-bold text-gray-800 mt-2">
            <span *ngIf="!data_loaded"
              ><i class="fa-solid fa-spinner fa-spin-pulse"></i
            ></span>
            <span *ngIf="data_loaded">
              LKR {{ inventory_value.selling_value | number: "2.2" }}
            </span>
          </p>
        </div>
        <div
          class="w-12 h-12 rounded-lg bg-green-50 flex items-center justify-center"
        >
          <i class="fa-solid fa-sack-dollar text-green-500"></i>
        </div>
      </div>
    </div>
  </div>

  <!-- Secondary Stats Row -->
  <div class="grid grid-cols-2 md:grid-cols-6 gap-4 mb-10">
    <div class="bg-white rounded-lg p-4 text-center border border-gray-100">
      <p class="text-gray-500 text-sm">Suppliers</p>
      <p class="text-2xl font-bold text-gray-800 mt-1">
        <span *ngIf="!data_loaded"
          ><i class="fa-solid fa-spinner fa-spin-pulse"></i
        ></span>
        <span *ngIf="data_loaded">
          {{ counts.active_supplier_count }}
        </span>
      </p>
    </div>
    <div class="bg-white rounded-lg p-4 text-center border border-gray-100">
      <p class="text-gray-500 text-sm">Users</p>
      <p class="text-2xl font-bold text-gray-800 mt-1">
        <span *ngIf="!data_loaded"
          ><i class="fa-solid fa-spinner fa-spin-pulse"></i
        ></span>
        <span *ngIf="data_loaded">
          {{ counts.active_user_count }}
        </span>
      </p>
    </div>
    <div class="bg-white rounded-lg p-4 text-center border border-gray-100">
      <p class="text-gray-500 text-sm">Branches</p>
      <p class="text-2xl font-bold text-gray-800 mt-1">
        <span *ngIf="!data_loaded"
          ><i class="fa-solid fa-spinner fa-spin-pulse"></i
        ></span>
        <span *ngIf="data_loaded">
          {{ counts.active_branch_count }}
        </span>
      </p>
    </div>
    <div class="bg-white rounded-lg p-4 text-center border border-gray-100">
      <p class="text-gray-500 text-sm">Purchase Orders</p>
      <p class="text-2xl font-bold text-gray-800 mt-1">
        <span *ngIf="!data_loaded"
          ><i class="fa-solid fa-spinner fa-spin-pulse"></i
        ></span>
        <span *ngIf="data_loaded">
          {{ counts.active_po_count }}
        </span>
      </p>
    </div>
    <div class="bg-white rounded-lg p-4 text-center border border-gray-100">
      <p class="text-gray-500 text-sm">Brands</p>
      <p class="text-2xl font-bold text-gray-800 mt-1">
        <span *ngIf="!data_loaded"
          ><i class="fa-solid fa-spinner fa-spin-pulse"></i
        ></span>
        <span *ngIf="data_loaded">
          {{ counts.active_brand_count }}
        </span>
      </p>
    </div>
    <div class="bg-white rounded-lg p-4 text-center border border-gray-100">
      <p class="text-gray-500 text-sm">Models</p>
      <p class="text-2xl font-bold text-gray-800 mt-1">
        <span *ngIf="!data_loaded"
          ><i class="fa-solid fa-spinner fa-spin-pulse"></i
        ></span>
        <span *ngIf="data_loaded">
          {{ counts.active_model_count }}
        </span>
      </p>
    </div>
  </div>

  <div
    *hasPermission="[[19], sysuser]"
    class="grid grid-cols-1 lg:grid-cols-2 gap-8 mb-10"
  >
    <div class="bg-white rounded-xl shadow-sm p-6 border border-gray-100">
      <div class="flex justify-between items-center mb-6">
        <h2 class="text-xl font-bold text-gray-800">
          Order Distribution by Status
        </h2>
      </div>

      <div *ngIf="chart_data_loaded" class="card flex justify-center">
        <p-chart
          type="doughnut"
          [data]="order_chart_data"
          [options]="options"
          class="w-full md:w-[30rem]"
        />
      </div>

      <div
        *ngIf="!chart_data_loaded"
        class="w-full h-full flex items-center justify-center"
      >
        <span><i class="fa-solid fa-spinner text-6xl fa-spin-pulse"></i></span>
      </div>
    </div>

    <div class="bg-white rounded-xl shadow-sm p-6 border border-gray-100">
      <div class="flex justify-between items-center mb-6">
        <h2 class="text-xl font-bold text-gray-800">
          Stock Distribution by Category
        </h2>
      </div>

      <div *ngIf="chart_data_loaded" class="card flex justify-center">
        <p-chart
          type="doughnut"
          [data]="stock_chart_data"
          [options]="options"
          class="w-full md:w-[30rem]"
        />
      </div>

      <div
        *ngIf="!chart_data_loaded"
        class="w-full h-full flex items-center justify-center"
      >
        <span><i class="fa-solid fa-spinner text-6xl fa-spin-pulse"></i></span>
      </div>
    </div>
  </div>
</div>
