
<app-header></app-header>

<div *ngIf="loading" class="loading-spinner-overlay">
  <div class="spinner"></div>
</div>

<div
  class="h-[750px] py-3 bg-gradient-to-r from-[#001960] via-[#325EDA] to-[#001960]"
>
  <div class="w-full h-full bg-white p-2">
    <div
      class="bg-[url('/auth/verify_bg.jpg')] bg-cover bg-center bg-no-repeat bg-[#001960] w-full h-full flex justify-center rounded-b-[45px] p-[22.5px]"
    >
      <div
        class="bg-white h-full w-[505px] rounded-[42px] px-[22.5px] py-[33px] flex flex-col items-center gap-8"
      >
        <div class="w-full flex flex-col items-center">
          <div class="bg-[url('/auth/logo.png')] bg-cover bg-center bg-no-repeat w-[232px] h-[156px]"></div>
          <h1 class="text-3xl font-bold leading-9 text-[#001960]">
            Reset Password
          </h1>
          <p class="text-[14px] mt-2">
            enter your email or <span [routerLink]="'/login'" class="text-[#325EDA] cursor-pointer">sign in to your account</span>
          </p>
        </div>
        <div class="w-full flex flex-col gap-4">
          <div [ngClass]="confirmPart ? '' : 'opacity-50 pointer-events-none select-none'">
            <fieldset [disabled]="!confirmPart">
              <form [formGroup]="addEmailForm" (ngSubmit)="resetPassword()" class="flex flex-col gap-3">
                <div class="flex justify-center gap-3">
                  <input
                    formControlName="email"
                    class="appearance-none border border-gray-300 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    type="text"
                    placeholder="Email address"
                  />
                </div>
                <div class="w-full flex flex-col gap-3">
                  <button
                    class="bg-[#325EDA] hover:bg-blue-700 text-white w-full py-2 px-3 rounded focus:outline-none focus:shadow-outline cursor-pointer"
                    type="submit"
                  >
                    Reset Password
                  </button>
                </div>
              </form>
            </fieldset>
          </div>

          <hr class="border-t border-gray-300 w-full" />

          <div [ngClass]="confirmPart ? 'opacity-50 pointer-events-none select-none' : ''">
            <fieldset [disabled]="confirmPart">
              <form [formGroup]="resetPasswordForm" (ngSubmit)="onConfirm()">
                <div class="flex flex-col gap-4">
                  <div class="flex justify-center gap-3">
                    <input *ngFor="let digit of codeDigits; let i = index"
                      [(ngModel)]="codeDigits[i]"
                      [attr.data-index]="i"
                      (input)="onDigitInput($event, i)"
                      maxlength="1"
                      class="w-10 h-12 text-center border-2 rounded border-gray-300 focus:outline-none"
                      [ngClass]="{ 'border-black': codeDigits[i], 'border-gray-300': !codeDigits[i] }"
                      type="text"
                      [ngModelOptions]="{ standalone: true }"
                    />
                  </div>
                  <div >
                    <input
                      formControlName="password"
                      class="appearance-none border border-gray-300 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mt-1"
                      type="password"
                      placeholder="New password"
                    />
                    <input
                      formControlName="confirmPassword"
                      class="appearance-none border border-gray-300 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mt-1"
                      type="password"
                      placeholder="Confirm password"
                    />
                  </div>
                  <button
                    class="bg-[#325EDA] hover:bg-blue-700 text-white w-full py-2 px-3 rounded focus:outline-none focus:shadow-outline cursor-pointer"
                    type="submit"
                  >
                    Confirm
                  </button>
                </div>
              </form>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>