<section class="">
  <h6 class="text-xs mb-2">
    <span
      [routerLink]="['/settings/settings-menu']"
      routerLinkActive="router-link-active"
      class="text-blue-500 cursor-pointer"
      >Settings</span
    >
    > Stock Settings
  </h6>
  <h1 class="text-xl font-semibold">Stock Settings</h1>
  <h5 class="text-xs font-thin">
    Manage your product brand settings and inventory categorization
  </h5>

  <div *ngIf="!LoadUI" class="mt-5">
    <div class="card">
      <div
        class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-6"
      >
        <p-skeleton height="4rem" />
        <p-skeleton height="4rem" />
        <p-skeleton height="4rem" />
        <p-skeleton height="4rem" />
        <p-skeleton height="4rem" />
        <p-skeleton height="4rem" />
      </div>
    </div>
  </div>

  <div class="min-h-screen mt-5">
    <div class="row">
      <div *ngIf="LoadUI" class="min-h-screen pt-5">
        <div
          class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-6"
        >
          <a
            [routerLink]="['/settings/purchase-order-summary']"
            class="flex items-start p-5 bg-white border border-gray-200 rounded-lg shadow-sm hover:shadow-md transition"
          >
            <div
              class="w-10 h-10 rounded-md bg-purple-100 flex items-center justify-center text-purple-600 mr-4"
            >
              <i class="fa-solid fa-cart-shopping"></i>
            </div>
            <div>
              <h3 class="text-gray-900 font-medium">Purchase Orders</h3>
              <p class="text-sm text-gray-500">Manage you incoming orders</p>
            </div>
          </a>

          <a
            [routerLink]="['/settings/stock-summary']"
            class="flex items-start p-5 bg-white border border-gray-200 rounded-lg shadow-sm hover:shadow-md transition"
          >
            <div
              class="w-10 h-10 rounded-md bg-emerald-100 flex items-center justify-center text-emerald-600 mr-4"
            >
              <i class="fa-solid fa-coins"></i>
            </div>
            <div>
              <h3 class="text-gray-900 font-medium">Stock Summary</h3>
              <p class="text-sm text-gray-500">
                See what you have in your stores
              </p>
            </div>
          </a>

          <a
            [routerLink]="['/settings/stock-config']"
            class="flex items-start p-5 bg-white border border-gray-200 rounded-lg shadow-sm hover:shadow-md transition"
          >
            <div
              class="w-10 h-10 rounded-md bg-orange-100 flex items-center justify-center text-orange-600 mr-4"
            >
              <i class="fa-solid fa-cubes-stacked"></i>
            </div>
            <div>
              <h3 class="text-gray-900 font-medium">Stock Configurations</h3>
              <p class="text-sm text-gray-500">
                Manage Categories, Brands and Models
              </p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
