<section class="">
  <h6 class="text-xs mb-2">
    <span
      [routerLink]="['/settings/settings-menu']"
      routerLinkActive="router-link-active"
      class="text-blue-500 cursor-pointer"
      >Settings</span
    >

    > My Profile
  </h6>
  <div class="flex items-end justify-between">
    <div>
      <h1 class="text-xl font-semibold">My Profile</h1>
      <h5 class="text-xs font-thin">{{ sysuser?.code }}</h5>
    </div>
    <div>
      <button (click)="openModal()" class="mr-2 btn-lg btn-danger">
        <i class="fa-solid fa-key text-danger mr-2"></i> Change Password
      </button>
    </div>
  </div>

  <div *ngIf="!LoadUI" class="card">
    <div class="flex flex-wrap">
      <div class="w-full mt-5">
        <p-skeleton styleClass="mb-2" />
        <p-skeleton width="30rem" styleClass="mb-2" />
        <p-skeleton width="10rem" styleClass="mb-2" />
        <p-skeleton height="10rem" styleClass="mb-2" />
        <p-skeleton width="10rem" height="4rem" />
      </div>
    </div>
  </div>

  <!-- sysuser-detail.component.html -->
  <div
    *ngIf="LoadUI"
    class="w-full mx-auto p-6 bg-white mt-5 rounded-lg shadow-md"
  >
    <!-- Branch Information Section -->
    <div class="mb-8">
      <div class="grid grid-cols-1 md:grid-cols-4 gap-4 mb-6">
        <div class="space-y-4">
          <div>
            <p class="text-sm text-gray-500">First Name</p>
            <p class="font-medium">{{ sysuser?.firstname }}</p>
          </div>
          <div>
            <p class="text-sm text-gray-500">Last Name</p>
            <p class="font-medium">{{ sysuser?.lastname }}</p>
          </div>
          <div>
            <p class="text-sm text-gray-500">Username</p>
            <p class="font-medium">
              {{ sysuser?.username }}
            </p>
          </div>
        </div>

        <div class="space-y-4">
          <div>
            <p class="text-sm text-gray-500">User Level</p>
            <p class="font-medium">
              <span class="badge badge-orange" *ngIf="sysuser?.userlevel == 1">
                {{ sysuser?.rolename }}
              </span>
              <span class="badge badge-teal" *ngIf="sysuser?.userlevel == 2">
                {{ sysuser?.rolename }}
              </span>
              <span class="badge badge-cyan" *ngIf="sysuser?.userlevel == 3">
                {{ sysuser?.rolename }}
              </span>
            </p>
          </div>
          <div>
            <p class="text-sm text-gray-500">Designation</p>
            <p class="font-medium">
              {{ sysuser?.designation }}
            </p>
          </div>
        </div>

        <div class="space-y-4">
          <div>
            <p class="text-sm text-gray-500">Status</p>
            <p
              *ngIf="sysuser?.disabled == 0"
              class="badge badge-success w-16 mt-1 text-center"
            >
              Active
            </p>

            <p
              *ngIf="sysuser?.disabled == 1"
              class="badge badge-danger w-16 mt-1 text-center"
            >
              Inactive
            </p>
          </div>
        </div>
        <div class="space-y-4">
          <div>
            <p class="text-sm text-gray-500">Phone</p>
            <p class="font-medium">
              {{ sysuser?.mobile }}
            </p>
          </div>
          <div *ngIf="sysuser?.email">
            <p class="text-sm text-gray-500">Email</p>
            <p class="font-medium">
              {{ sysuser?.email }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-change-password></app-change-password>
