<section class="">
  <h6 class="text-xs mb-2">Settings</h6>
  <h1 class="text-xl font-semibold">Settings</h1>
  <h5 class="text-xs font-thin">Alter General Settings of your ERP system</h5>

  <div *ngIf="!LoadUI">
    <div class="card">
      <div
        class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-6"
      >
        <p-skeleton height="4rem" />
        <p-skeleton height="4rem" />
        <p-skeleton height="4rem" />
        <p-skeleton height="4rem" />
        <p-skeleton height="4rem" />
        <p-skeleton height="4rem" />
      </div>
    </div>
  </div>

  <div *ngIf="LoadUI" class="min-h-screen pt-5">
    <div
      class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-6"
    >
      <a
        href="#"
        class="flex items-start p-5 bg-white border border-gray-200 rounded-lg shadow-sm hover:shadow-md transition"
      >
        <div
          class="w-10 h-10 rounded-md bg-purple-100 flex items-center justify-center text-purple-600 mr-4"
        >
          <i class="fa-solid fa-address-card"></i>
        </div>
        <div>
          <h3 class="text-gray-900 font-medium">My Profile</h3>
          <p class="text-sm text-gray-500">
            View plans, invoices, and payments
          </p>
        </div>
      </a>

      <!-- Tile -->
      <a
        [routerLink]="['/settings/supplier-summary']"
        class="flex items-start p-5 bg-white border border-gray-200 rounded-lg shadow-sm hover:shadow-md transition"
      >
        <div
          class="w-10 h-10 rounded-md bg-blue-100 flex items-center justify-center text-blue-600 mr-4"
        >
          <!-- Icon placeholder -->
          <!-- <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
            <path
              d="M16 11c1.66 0 2.99-1.34 2.99-3S17.66 5 16 5s-3 1.34-3 3 1.34 3 3 3zm-8 0c1.66 0 2.99-1.34 2.99-3S9.66 5 8 5 5 6.34 5 8s1.34 3 3 3zm0 2c-2.33 0-7 1.17-7 3.5V19h14v-2.5C15 14.17 10.33 13 8 13zm8 0c-.29 0-.62.02-.97.05 1.16.84 1.97 1.93 1.97 3.45V19h6v-2.5c0-2.33-4.67-3.5-7-3.5z"
            />
          </svg> -->
          <i class="fa-solid fa-truck-field"></i>
        </div>
        <div>
          <h3 class="text-gray-900 font-medium">Supplier Settings</h3>
          <p class="text-sm text-gray-500">Manage your suppliers here</p>
        </div>
      </a>

      <!-- Security -->
      <a
        [routerLink]="['/settings/stock-settings']"
        class="flex items-start p-5 bg-white border border-gray-200 rounded-lg shadow-sm hover:shadow-md transition"
      >
        <div
          class="w-10 h-10 rounded-md bg-green-100 flex items-center justify-center text-green-600 mr-4"
        >
          <!-- <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
            <path d="M3 3h18v4H3V3zm0 6h18v4H3V9zm0 6h18v4H3v-4z" />
          </svg> -->
          <i class="fa-solid fa-glasses"></i>
        </div>
        <div>
          <h3 class="text-gray-900 font-medium">Stock Settings</h3>
          <p class="text-sm text-gray-500">Manage your stocks here</p>
        </div>
      </a>

      <!-- Notifications -->
      <a
        [routerLink]="['/settings/user-settings']"
        class="flex items-start p-5 bg-white border border-gray-200 rounded-lg shadow-sm hover:shadow-md transition"
      >
        <div
          class="w-10 h-10 rounded-md bg-yellow-100 flex items-center justify-center text-yellow-600 mr-4"
        >
          <i class="fa-solid fa-users-gear"></i>
        </div>
        <div>
          <h3 class="text-gray-900 font-medium">User Settings</h3>
          <p class="text-sm text-gray-500">
            Manage users and their permissions
          </p>
        </div>
      </a>

      <!-- Integrations -->
      <a
        href="#"
        class="flex items-start p-5 bg-white border border-gray-200 rounded-lg shadow-sm hover:shadow-md transition"
      >
        <div
          class="w-10 h-10 rounded-md bg-cyan-100 flex items-center justify-center text-cyan-600 mr-4"
        >
          <i class="fa-solid fa-store"></i>
        </div>
        <div>
          <h3 class="text-gray-900 font-medium">Branches</h3>
          <p class="text-sm text-gray-500">View and Manage your Branches</p>
        </div>
      </a>

      <a
        [routerLink]="['/settings/consultation-settings']"
        class="flex items-start p-5 bg-white border border-gray-200 rounded-lg shadow-sm hover:shadow-md transition"
      >
        <div
          class="w-10 h-10 rounded-md bg-red-100 flex items-center justify-center text-red-600 mr-4"
        >
          <i class="fa-solid fa-briefcase-medical"></i>
        </div>
        <div>
          <h3 class="text-gray-900 font-medium">Consultation Settings</h3>
          <p class="text-sm text-gray-500">consultation configuration</p>
        </div>
      </a>

      <!-- Appearance -->
      <!-- <a
        href="#"
        class="flex items-start p-5 bg-white border border-gray-200 rounded-lg shadow-sm hover:shadow-md transition"
      >
        <div
          class="w-10 h-10 rounded-md bg-indigo-100 flex items-center justify-center text-indigo-600 mr-4"
        >
          <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
            <path
              d="M17.293 13.293l-6-6-6 6H4v2h4v-4H6l6-6 6 6h-2v4h4v-2h-2.707z"
            />
          </svg>
        </div>
        <div>
          <h3 class="text-gray-900 font-medium">Appearance & Preferences</h3>
          <p class="text-sm text-gray-500">
            Toggle dark mode and adjust layout
          </p>
        </div>
      </a> -->

      <!-- API & Webhooks -->
      <!-- <a
        href="#"
        class="flex items-start p-5 bg-white border border-gray-200 rounded-lg shadow-sm hover:shadow-md transition"
      >
        <div
          class="w-10 h-10 rounded-md bg-red-100 flex items-center justify-center text-red-600 mr-4"
        >
          <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
            <path
              d="M10 2C5.58 2 2 5.58 2 10s3.58 8 8 8a7.96 7.96 0 006.32-3.16l-1.49-1.32A6 6 0 1010 4v4l5 3-5 3v4c4.42 0 8-3.58 8-8s-3.58-8-8-8z"
            />
          </svg>
        </div>
        <div>
          <h3 class="text-gray-900 font-medium">API & Webhooks</h3>
          <p class="text-sm text-gray-500">
            Manage API keys and webhook endpoints
          </p>
        </div>
      </a> -->

      <!-- Data & Privacy -->
      <!-- <a
        href="#"
        class="flex items-start p-5 bg-white border border-gray-200 rounded-lg shadow-sm hover:shadow-md transition"
      >
        <div
          class="w-10 h-10 rounded-md bg-gray-100 flex items-center justify-center text-gray-600 mr-4"
        >
          <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
            <path
              d="M2 5a2 2 0 012-2h12a2 2 0 012 2v2H2V5zm0 4h16v6a2 2 0 01-2 2H4a2 2 0 01-2-2V9z"
            />
          </svg>
        </div>
        <div>
          <h3 class="text-gray-900 font-medium">Data & Privacy</h3>
          <p class="text-sm text-gray-500">
            Control data usage and privacy settings
          </p>
        </div>
      </a> -->

      <!-- Support -->
      <!-- <a
        href="#"
        class="flex items-start p-5 bg-white border border-gray-200 rounded-lg shadow-sm hover:shadow-md transition"
      >
        <div
          class="w-10 h-10 rounded-md bg-orange-100 flex items-center justify-center text-orange-600 mr-4"
        >
          <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
            <path
              d="M18 13a1 1 0 01-1 1h-1.586l-1.707 1.707a1 1 0 01-1.414 0L10.586 14H9a1 1 0 01-1-1V9.586l1.707-1.707a1 1 0 011.414 0L14 10.414V13h4z"
            />
          </svg>
        </div>
        <div>
          <h3 class="text-gray-900 font-medium">Support & Help</h3>
          <p class="text-sm text-gray-500">Get help and contact support team</p>
        </div>
      </a> -->
    </div>
  </div>
</section>
