<app-header></app-header>

<div *ngIf="loading" class="loading-spinner-overlay">
  <div class="spinner"></div>
</div>

<div
  class="h-[850px] sm:h-[830px] py-3 bg-gradient-to-r from-[#001960] via-[#325EDA] to-[#001960]"
>
  <div class="w-full h-full bg-white p-3">
    <div
      class="bg-[url('/auth/signin_bg.jpg')] bg-cover bg-center bg-no-repeat bg-[#001960] w-full h-full flex justify-end rounded-b-[45px] p-[22.5px]"
    >
      <div
        class="bg-white h-full w-[505px] rounded-[42px] px-[22.5px] py-[10px] flex flex-col items-center gap-4"
      >
        <div class="w-full flex flex-col items-center">
          <div class="bg-[url('/auth/logo.png')] bg-cover bg-center bg-no-repeat w-[232px] h-[156px]"></div>
          <h1 class="text-3xl font-bold leading-9 text-center text-[#001960] sm:mt-3">
            Create a new account
          </h1>
          <p class="text-[14px] mt-2">
            Or <span [routerLink]="'/login'" class="text-[#325EDA] cursor-pointer">sign in to your account</span>
          </p>
        </div>
        <div class="w-full flex flex-col gap-3">
          <form [formGroup]="signInForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-1">
            <input
              formControlName="firstName"
              class="appearance-none border border-gray-300 rounded-t w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              type="text"
              placeholder="First name"
            />
            <input
              formControlName="lastName"
              class="appearance-none border border-gray-300 w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              type="text"
              placeholder="Last name"
            />
            <input
              formControlName="email"
              class="appearance-none border border-gray-300 w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              type="text"
              placeholder="Email address"
            />
            <input
              formControlName="phone"
              class="appearance-none border border-gray-300 w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              type="text"
              placeholder="Phone number"
            />
            <input
              formControlName="password"
              class="appearance-none border border-gray-300 w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              type="password"
              placeholder="New Password"
            />
            <input
              formControlName="confirmPassword"
              class="appearance-none border border-gray-300 rounded-b w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              type="password"
              placeholder="Confirm Password"
            />
            <label class="text-[#001960] flex">
              <input formControlName="organizer" class="mr-2 leading-tight" type="checkbox" />
              <span class="text-sm"> Organizer </span>
            </label>
            <div class="w-full flex justify-center">
              <span class="text-sm text-[#325EDA] cursor-pointer"> Terms and conditions </span>
            </div>
            <div class="w-full flex flex-col gap-3">
              <button
                class="bg-[#325EDA] hover:bg-blue-700 text-white w-full py-2 px-3 rounded focus:outline-none focus:shadow-outline cursor-pointer"
                type="submit"
              >
                Sign in
              </button>
              <button
                class="bg-[#325EDA] hover:bg-blue-700 text-white w-full py-2 px-3 rounded focus:outline-none focus:shadow-outline cursor-pointer"
                type="button"
              >
                <i class="fa-brands text-white mr-2 fa-lg fa-facebook"></i>
                Log In with Facebook
              </button>
              <button
                class="bg-white hover:bg-gray-300 border border-gray-300 text-black w-full py-2 px-3 rounded focus:outline-none focus:shadow-outline cursor-pointer"
                type="button"
              >
                Log In with Google
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>