<div class="card">
  <div class="flex flex-wrap">
    <div class="w-full xl:w-6/12 p-4">
      <h5>Rectangle</h5>
      <p-skeleton styleClass="mb-2" />
      <p-skeleton width="10rem" styleClass="mb-2" />
      <p-skeleton width="5rem" styleClass="mb-2" />
      <p-skeleton height="2rem" styleClass="mb-2" />
      <p-skeleton width="10rem" height="4rem" />
    </div>
    <div class="w-full xl:w-6/12 p-4">
      <h5>Rounded</h5>
      <p-skeleton styleClass="mb-2" borderRadius="16px" />
      <p-skeleton width="10rem" styleClass="mb-2" borderRadius="16px" />
      <p-skeleton width="5rem" styleClass="mb-2" borderRadius="16px" />
      <p-skeleton height="2rem" styleClass="mb-2" borderRadius="16px" />
      <p-skeleton width="10rem" height="4rem" borderRadius="16px" />
    </div>
    <div class="w-full xl:w-6/12 p-4">
      <h5 class="mt-4">Square</h5>
      <div class="flex items-end">
        <p-skeleton size="2rem" styleClass="mr-2" />
        <p-skeleton size="3rem" styleClass="mr-2" />
        <p-skeleton size="4rem" styleClass="mr-2" />
        <p-skeleton size="5rem" />
      </div>
    </div>
    <div class="field w-full xl:w-6/12 p-4">
      <h5 class="mt-4">Circle</h5>
      <div class="flex items-end">
        <p-skeleton shape="circle" size="2rem" styleClass="mr-2" />
        <p-skeleton shape="circle" size="3rem" styleClass="mr-2" />
        <p-skeleton shape="circle" size="4rem" styleClass="mr-2" />
        <p-skeleton shape="circle" size="5rem" />
      </div>
    </div>
  </div>
</div>

<div *ngIf="" class="card">
  <div class="flex flex-wrap">
    <div class="w-full mt-5">
      <p-skeleton styleClass="mb-2" />
      <p-skeleton width="30rem" styleClass="mb-2" />
      <p-skeleton width="10rem" styleClass="mb-2" />
      <p-skeleton height="10rem" styleClass="mb-2" />
      <p-skeleton width="10rem" height="4rem" />
    </div>
  </div>
</div>
