<div class="card w-full flex flex-col items-center p-5">
    <div class="px-[14.6px] mt-2 py-2 rounded-xl grid md:grid-cols-[8fr_1fr] items-center bg-surface-0 bg-gray-50 dark:bg-surface-900  gap-x-6 gap-y-3">
        <div class="grid grid-cols-[auto_1fr] gap-x-6 h-[83.82px]">
            <p-skeleton width="120px" height="85px" />
            <div class="grid md:grid-cols-[2fr_1fr_1fr_1fr] gap-x-6 items-center line-clamp-2">
                <p-skeleton width="8rem" height="1rem" />
                <p-skeleton width="4rem" height="1rem" />
                <p-skeleton width="4rem" height="1rem" />
                <p-skeleton width="4rem" height="1rem" />
            </div>
        </div>
        <div class="flex gap-1.5 justify-center md:justify-end items-center">
            <p-skeleton width="10rem" height="2rem" />
        </div>
    </div>
</div>
  