<div class="bg-white dark:bg-[#121212]">
  <div
    class="bg-gradient-to-r from-[#001960] via-[#325EDA] to-[#001960] h-[5px]"
  ></div>
  <div
    class="h-fit grid md:grid-cols-5 py-10 w-full md:w-full max-w-[1200px] gap-4 m-auto p-5"
  >
    <div class="md:col-span-2">
      <h1 class="text-[#325EDA] text-lg font-semibold">findout.lk</h1>
      <p class="font-medium text-xs text-[#001960] dark:text-[#325EDA]">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente ipsam
        culpa, vero similique natus omnis modi reprehenderit maxime provident
        magnam totam harum, aperiam corporis deserunt velit labore! Tenetur
        nostrum doloribus dolor voluptatibus, laboriosam eos quae.
      </p>
    </div>

    <div class="md:ml-5">
      <h1 class="text-[#325EDA] text-lg font-semibold">Site Map</h1>
      <ul class="text-[#001960] dark:text-[#325EDA] text-xs">
        <li>Concerts</li>
        <li>Theatre</li>
        <li>Download Tickets</li>
        <li>About Us</li>
        <li>Contacts</li>
        <li>Login</li>
      </ul>
    </div>

    <div>
      <h1 class="text-[#325EDA] text-lg font-semibold">Other Links</h1>
      <ul class="text-[#001960] dark:text-[#325EDA] text-xs">
        <li>Privacy Policy</li>
        <li>Terms & Conditions</li>
      </ul>
    </div>

    <div>
      <h1 class="text-[#325EDA] text-lg font-semibold">Social Media Links</h1>
      <ul class="text-[#001960] dark:text-[#325EDA] text-xs">
        <li>+94 71 370 4691 | +94 72 875 9563</li>
        <li>No 72, Peradeniya Rd, Kandy</li>
        <li>support &#64; findout.lk</li>
        <li class="flex mt-3 justify-start items-center">
          <i class="fa-brands text-green-500 mr-2 fa-lg fa-square-whatsapp"></i>
          <i class="fa-brands text-blue-500 mr-2 fa-lg fa-facebook"></i>
          <i
            class="fa-brands text-amber-700 mr-2 fa-lg fa-square-instagram"
          ></i>
          <i class="fa-brands text-black mr-2 fa-lg fa-x-twitter"></i>
        </li>
      </ul>
    </div>
  </div>
</div>
