<div class="min-h-screen flex flex-col w-full">
  <!-- Fixed Header -->
  <app-header class="fixed top-0 left-0 w-full h-16 z-50"></app-header>

  <!-- Fixed Sidebar -->
  <app-sidebar></app-sidebar>

  <!-- Main content -->
  <main
    class="flex-1 lg:ml-[220px] pt-20 p-5 bg-gray-100 dark:bg-[#1e1e1e] overflow-y-auto"
  >
    <router-outlet></router-outlet>
  </main>

  <div class="fixed bottom-0 flex w-full items-center justify-end pr-5">
    <p class="text-xs text-orange-500">
      Designed and Developed by <strong>Vishnaka</strong>
    </p>
  </div>

  <div
    *ngIf="sysuser?.session_confirmed_branch == 0"
    class="fixed inset-0 z-50 flex items-center justify-center bg-black/50 backdrop-blur-sm"
  >
    <div
      class="relative w-[90%] max-w-md bg-white rounded-2xl shadow-2xl p-6 text-center animate-fadeIn"
    >
      <div class="mx-auto flex items-center justify-center w-16 h-16">
        <i class="fa-solid fa-triangle-exclamation text-3xl text-red-700"></i>
      </div>

      <h2 class="text-xl font-semibold text-gray-800 mb-2">
        Branch Confirmation
      </h2>

      <p class="text-gray-600 mb-6">
        Make sure to select the correct branch before proceeding.
      </p>

      <button (click)="OK()" class="btn btn-orange">OK</button>
    </div>
  </div>
</div>
