<button
  class="fixed top-16 left-4 z-50 p-2 bg-gray-200 rounded md:hidden"
  (click)="isSidebarOpen = !isSidebarOpen"
>
  ☰
</button>

<div
  class="fixed top-12 left-0 w-[200px] lg:w-[255px] bg-white dark:bg-[#121212] z-40 transform transition-transform duration-300 ease-in-out"
  [ngClass]="{
    '-translate-x-full': !isSidebarOpen,
    'translate-x-0': isSidebarOpen,
    'md:translate-x-0': true,
    'top-[120px]': isSidebarOpen,
    'top-12 md:top-12': !isSidebarOpen || true 
  }"
>
  <div class="flex mt-5 pl-2 flex-col">
    <h2
      *ngFor="let item of menuItems"
      class="text-lg font-thin py-2 px-2 rounded-md cursor-pointer"
      [ngClass]="{
        'bg-[#325EDA] text-white': currentPath == item.path,
        'hover:bg-gray-100': currentPath !== item.path
      }"
      (click)="onClickMenu(item.path, item.value)"
    >
      {{ item.label }}
    </h2>
  </div>
</div>