/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@plugin "tailwindcss-primeui";

.dark_btn {
  color: white;
  background-color: #001960;
  padding: 2px 15px;
  border-radius: 8px;
}

.disabled_btn {
  color: white;
  background-color: #b2b4b8;
  padding: 2px 15px;
  border-radius: 8px;
}

.dark_btn:hover {
  color: white;
  background-color: #0d3090;
  padding: 2px 15px;
  border-radius: 8px;
}

.light_btn {
  color: white;
  background-color: #325eda;
  padding: 2px 15px;
  border-radius: 8px;
}

.light_btn:hover {
  background-color: #1d4ed8;
}

.black_btn {
  color: white;
  background-color: black;
  padding: 2px 15px;
  border-radius: 8px;
}

.transparent_btn {
  border: 1px solid black;
  padding: 2px 15px;
  border-radius: 8px;
}

/* Hide scrollbar */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* For Internet Explorer 10+ */
  scrollbar-width: none; /* For Firefox */
}

.loading-spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 60px;
  height: 60px;
  border: 6px solid #ccc;
  border-top-color: #007bff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

/* Spinner animation */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.login-form {
  position: relative;
  z-index: 1; /* Ensure it's under the loading overlay */
}

* {
  font-family: "National Park", sans-serif;
  font-optical-sizing: auto;
}
html,
body {
  height: 100%;
  overflow: hidden;
}

.add_btn {
  color: white;
  background-color: #ff820d;
  padding: 10px 20px;
  border-radius: 12px;
  font-weight: 600;
}
